
.main-header>div, .main-header>nav {
    align-items: center;
    display: flex;
}
.main-header.scroll {
    background-color: hsla(0, 0%, 100%, .97);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

body, html {
    color: #272d33;
    font-size: 15px;
    line-height: 1.618;
}

*, a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video
{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    border: 0;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
}

nav {
    unicode-bidi: isolate;
}
.main-header ul li:not(:last-child) {
    margin: 0;
}

ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.main-header ul:not(.inputs-list)>li, .main-header ul>li {
    font-size: 1em;
    list-style: none;
}


.main-header .dropdown li>a, .main-header--primary-nav>ul>li>.label, .main-header--secondary-nav>ul>li>.label {
color: #596670;
cursor: pointer;
font-weight: 500;
transition: color .3s ease;
}

.body-container-wrapper .hs_cos_wrapper_type_module form ul, ul {
    list-style: none;
    margin : 3em 0;
}
.main-header--primary-nav>ul, .main-header--secondary-nav>ul {
    display: flex;
    height: 100%;
    margin: 0;
}

.main-header--primary-nav>ul>li>.label, .main-header--secondary-nav>ul>li>.label {
align-items: center;
display: flex;
height: 100%;
padding: 0 .75em;
}

a.button--primary, body input[type=button], input[type=submit], input[type=submit].primary {
    background: #1babe2;
}

a.button--primary, a.button--secondary, body input[type=button], input[type=submit], input[type=submit].primary, input[type=submit].secondary {
    
    appearance: none;
    border-radius: 50px;
    box-sizing: border-box;
    color: #fff; 
    cursor: pointer;
    display: inline-block;
    font-weight: 800;
    letter-spacing: 3px;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .3s ease;
    font-size: .9em;
    padding: .8em 1.3em;
    white-space: nowrap;
}




#hs_cos_wrapper_module_1583905741317549, .main-header {
    min-height: 5.7em;
}

.main-header {
-webkit-box-pack: justify;
display: flex;
justify-content: space-between;
left: 0;
padding: 0 2em;
position: fixed;   
top: 0;
transition: background .3s ease;
width: 100%;
z-index: 900;
}


/* @media (min-width: 1280px) */
.row-fluid [class*=span] {
    box-sizing: border-box;
    display: block;
    float: left;
    min-height: 0;
}

/* @media (min-width: 1280px) */
.row-fluid {
    width: 100%;
}

/* @media (min-width: 1280px) */
.row-fluid .span12 {
    width: 100%;
}

.row-fluid [class*=span] {
    min-height: 0;
    box-sizing: border-box;
    display: block;
    float: left;
}


/* @media (min-width: 1280px) */
.row-fluid [class*=span]:first-child {
    margin-left: 0;
}



div {
    display: block;
    unicode-bidi: isolate;
}
/* 
*, :after, :before {

    box-sizing: border-box;
} */


/* @media (min-width: 1200px) */
.container-fluid {
    padding: 0 7em;
}


body {
    display: block;
    background: transparent;
}

.go3670563033 {
    position: relative;
    overflow:hidden;
    display: none;
}

.hero>div:nth-child(2n) {
    padding-left: 0em;
}

.hero>div:nth-child(2n) {
  
    padding-top: 5em;
}

/* @media (min-width: 1200px) */
.hero>.full-bleed {
    margin-right: -7em;
    width: calc(50% + 7em);
}

.hero>.full-bleed {
   
    padding-right: 0;
   
}

.hero>div {
   
    z-index: 10;
}

.hero>div:nth-child(odd) {
    padding-right: 3em;
}

/* @media (min-width: 768px) */
.hero>div {
    width: 50%;
}

/* @media (min-width: 768px) */
.hero.section-container--spacing {
    padding-bottom: 2em;
    padding-top: 7em;
}

/* @media (min-width: 1200px) */
.section-container--spacing {
    margin: 0 -7em;
    padding: 7em;
}

.hero {
    align-content: center;
    align-items: center;
    background: #f1f3f7; 
    /* background: #0d1c3b; */
    display: flex;
    flex-wrap: wrap;
    min-height: 93vh;
    position: relative;
}

section {
    unicode-bidi: isolate;
}

.calc-container {
    display: flex;
}

.hero h2 {
    font-size: 2.7em;
    font-weight: 700;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    color: #182d55;
    margin-bottom: .5em;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

p:not(:last-child) {
    margin-bottom: 1em;
}

.hero p {
    font-size: 1.25em;
    font-weight: 500;
}

.hero a.button--primary {
    margin-right: 2em;
    margin-top: 2em;
}

a.button--primary, a.button--secondary, body input[type=button], input[type=submit], input[type=submit].primary, input[type=submit].secondary {
   
  
    border-radius: 50px;
    box-sizing: border-box;
    color: #fff; 
    cursor: pointer;
    display: inline-block;
    font-weight: 800;
    letter-spacing: 3px;
    outline: 0;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .3s ease;
    white-space: nowrap;
}

a.button--primary, body input[type=button], input[type=submit], input[type=submit].primary {
    background: #1babe2;
}

.icon-text-layout .column-layout>.column>a>.arrow-box {
    display: flex;
    flex-flow: row-reverse;
    width: 100%;
}

a {
    color: #1babe2;
    cursor: pointer;
    font-size: inherit;
    font-weight: 500;
    outline: none;
    text-decoration: none;

}

.icon-text-layout .column-layout>.column>a.card--icon-and-text p {
    color: #182d55;
}

p, ul:not(.inputs-list) li {
    font-size: 1.25em;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.icon-text-layout h6 {
    margin-bottom: 1em;
}

h6 {
    display: block;
    color: #7d95a5;
    font-size: calc(.6875em + .5vw);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

h5, h6 {
    font-weight: 700;
    line-height: 1.33;
}

.icon-text-layout .column-layout>.column>a>.text {
    padding: 0 2.3em 0 0;
}

.icon-text-layout .column-layout>.column>.text, .icon-text-layout .column-layout>.column>a>.text {
    width: calc(100% - 120px);
}

.icon-text-layout .column-layout>.column>.icon, .icon-text-layout .column-layout>.column>a>.icon {
    width: 120px;
}    

.icon-text-layout .column-layout>.column>a.card--icon-and-text {
    border-radius: 8px;
    padding: 3em .7em .7em 3em;
}

.icon-text-layout .column-layout>.column {
    width: 50%;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 6em;
}

.column-layout>.column {
    padding: 0 3em;
}

.icon-text-layout .column-layout {
    -webkit-box-pack: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: 0;
    margin-top: 8em;
    position: relative;
    z-index: 10;
}

.column-layout {
    margin: 0 -3em;
    width: calc(100% + 6em);
}

h4 {
    font-size: calc(1.25em + 1vw);
    font-weight: 300;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

h3, h4 {
    letter-spacing: 0;
    line-height: 1.33;
}

h3 {
    font-size: calc(2.49375em + 1vw);
    font-weight: 700;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.section--light-bg {
    background: #f1f3f7;
}

.icon-text-layout {
    position: relative;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
header {
    unicode-bidi: isolate;
}

section {
    unicode-bidi: isolate;
}

a.card {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    flex-wrap: wrap;
    transition: box-shadow .3s ease, background .3s ease;
}

a.card--icon-and-text {
    display: flex;
    width: 100%;
}

.cid-tLek7gQhG7 .card-text {
    color: #232323;
}

.animate__animated.animate__delay-1s {
    animation-delay: var(--animate-delay);
}

.card-text:last-child {
    margin-bottom: 0;
}

.display-7 {
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.1rem;
    line-height: 1.3;
}

.card-box {
    width: 100%;
}

.cid-tLek7gQhG7 .img-wrapper {
    width: 10rem;
    padding-right: 2rem;
}

.cid-tLek7gQhG7 .item-wrapper {
    display: flex;
    margin-bottom: 2rem;
}

.row>[class*=col] {
    padding-left: 16px;
    padding-right: 16px;
}

.item {
    position: relative;
}

.col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
}

.row>* {
    box-sizing: border-box;
    max-width: 100%; 
}

.row {
    margin-left: -16px;
    margin-right: -16px;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-top: calc(var(--bs-gutter-y)* -1);
}

.justify-content-center {
    justify-content: center !important;
}

.footer--minimal, .footer--primary {
    margin: 0 -7em;
}

.footer--minimal, .footer--primary {
    background: #182d55;
    display: flex;
    flex-wrap: wrap;
    padding: 7em 0 4em;
}

footer {
    unicode-bidi: isolate;
}

.cta--section a>.cta--title {
    margin-bottom: 0;
    margin-left: .5em;
    width: 54%;
}

.cta--section a>.cta--text, .cta--section a>.cta--title {
    color: #fff;
    hyphens: none;
    overflow-wrap: break-word;
}

.cta--section a {
    margin-left: -7em;
    margin-right: -7em;
    align-items: center;
    background: #182d55;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -3em;
    padding: 1em 3em;
    position: relative;
    /* transition: background .3s ease; */
    z-index: 200;
}

.cta--section.section-container--spacing {
    padding-bottom: 0;
    padding-top: 0;
}

.calc-box {
    background: white;
    position: relative;
    left: -15%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    text-align: center;
}

img {
    max-width: 100%;
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img, video {
    max-width: 100%;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}